:root {
  --green: #64C378;
  --gray: #ccc;
}

.button {
  width: 100%; 
  background-color: transparent;
  color: var(--green);
  border: 1px solid var(--green);
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;

  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.white {
  color: #888;
  border: none;
  
}
.white:hover{
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #64C378;
}

.button:hover {
  background-color: rgba(100, 195, 120, 0.1);
}

.disabled {
  background-color: var(--gray);
  color: #666;
  border: none;
  cursor: not-allowed;
}
