.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  text-align: center;
}

.title {
  font-size: 1.875rem;
  font-weight: bold;
  margin: 1rem 0;
}

.buttonArea {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 500px;
  min-width: 100px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 입력 창 css */
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px;
  min-width: 150px;
  margin-top: 1.5rem;
}

.emailButtonGroup {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-top: 0; /* 위는 LoginInput과 gap 맞추기 위해 0 */
  margin-bottom: 10px; /* 아래도 다른 입력창과 동일한 간격 */
}

.emailCheckBtn,
.emailVerifyBtn {
  flex: 1;
  padding: 0.5rem 0;
  font-size: 0.875rem;
  font-weight: 500;
  text-align: center;
  border: 1px solid #999;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  transition: background-color 0.2s ease;
}

.emailCheckBtn:hover,
.emailVerifyBtn:hover {
  background-color: #f2f2f2;
}
