.header {
    position: fixed;

    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    background-color: white;
    z-index: 100;
}

/* media 쿼리 fallback (PC 해상도일 때 폭 줄이기) */
@media (min-width: 1024px) {
    .header {
      max-width: 430px;
    }
  }

.backButton {
    font-size: 1.25rem;
    color: #4b5563;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s ease;
}

.backButton:hover {
    color: #3b82f6;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.125rem;
    font-weight: 600;
    color: #1f2937;
}

.spacer {
    width: 1.5rem;
}

.iconGroup {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.25rem;
    color: #4b5563;
}

.iconButton {
    background: none;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    padding: 0;
    color: inherit;
    transition: color 0.2s ease;
}

.image{
    max-height: 100%;
    object-fit: contain;
}