.header {
 box-sizing: border-box;
  width: 100%;
  padding: 20px 30px;
  height: 60px;
  background-color: #1e1e1e;                
  border-bottom: 2px solid #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.logoText {
  font-size: 1.125rem;
  font-weight: 600;
  color: #64C378;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.iconGroup {
  display: flex;
  align-items: center;
  gap: 0.75rem; /* 약간 좁게 */
}

.iconButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.iconButton img {
  height: 20px;
  filter: invert(1);            /* 흰색으로 반전 */
  transition: opacity 0.2s ease;
}

.iconButton:hover img {
  opacity: 0.7;
}